<html>
    <head>
        <title>
            Fuelconsumed
        </title>
        <style>
            body
            {
               background-color: rgb(94, 177, 166); 
            }
            .box
            {
               width: 600px;
               height: 300px;
               background-color: rgb(163, 80, 141);
               border:dotted 3px NAVY;
               padding: 10px;
               margin-left: 275px;
               margin-top: 100px;
               position:fixed;
               top: 100px;
               left: 275px; 
            }
        </style>
    </head>
    <body>
        <div class="box">
            <h2 align="center">FUEL EFFICIENCY OF A VEHICLE</h2>
            <h3 align="center">S R NIVEDHITHA (25000724) </h3>
            <h2 align="center">MILEAGE CALCULATION</h2>
            <form method="post" align="center">
                {% csrf_token %}
                <label>Distance:</label>
                <input type="text" name="distance" value="{{ distance }}">
                <br>
                <br>
                <label>Fuel Consumed:</label>
                <input type="text" name="fuel_consumed" value="{{ fuel_consumed }}">
                <br>
                <br>
                <input type="submit" value="calculate">
                <br>
                <label>Mileage:</label>
                <input type="text" name="mileage" value="{{ mileage }}">
            </form>
        </div>
    </body>
</html>
